<div class="book-rounded-corner shadow-sm bg-book">
  <div class="d-md-flex flex-md-row h-md-250 position-relative p-3" (click)="gotoBookDetails()">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img src="{{ image }}" class="img-fluid img-thumbnail book-image" alt="Imagen del libro" style="width: 100%;">
    </div>
    <div class="col-md-8 p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">{{ gender }}</strong>
      <h3 class="mb-0 shortened-title">{{ title }}</h3>
      <div class="mb-1 text-body-secondary shortened-title">{{ authors }}</div>
      <p class="card-text mb-auto shortened-title">Estado: {{ statusFormatted }}</p>
      <p class="card-text mb-auto">Copias: {{ quantity }}</p>
      <div class="col pt-3">
        <stars [rating]="rating"></stars>
      </div>
      <p class="card-text mb-auto">Comentarios: {{ comments_quantity }} </p>
    </div>
  </div>
  <div class="d-flex justify-content-center px-4">
    <button class="btn btn-secondary w-100 w-md-50" id="rent_btn">
      <i class="bi bi-cart-plus-fill" style="font-size: 20px"> Pedir</i>
    </button>
  </div>
  @if (isAdmin || isLibrarian) {
    <div class="d-flex justify-content-center p-3">
      <button class="btn btn-danger btn-lg p-2 mx-1" type="button">
        <i class="bi bi-trash-fill" style="font-size: 20px"></i>
      </button>
      <button class="btn btn-primary btn-lg p-2" type="button">
        <i class="bi bi-pencil-fill" style="font-size: 20px"></i>
      </button>
    </div>
  } @else {
    <div class="p-3"></div>
  }
</div>