<div class="row g-0 book-rounded-corner flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-book p-3">
  <div class="col-auto mx-auto d-block text-center">
    <img src="media/book-example-1.jpg" class="img-fluid img-thumbnail" alt="Imagen del libro" style="width: 260px;">
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">{{ gender }}</strong>
    <h3 class="mb-0">{{ title }}</h3>
    <div class="mb-1 text-body-secondary">{{ author }}</div>
    <p class="card-text mb-auto">Cantidad: {{ quantity }}</p>
    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
      Leer Reseñas
    </a>
  </div>
  <div class="col text-end p-3" id="manage_book">
    <button class="btn btn-danger btn-lg p-2 mx-1" type="button">
      <i class="bi bi-trash-fill" style="font-size: 20px"></i>
    </button>
    <button class="btn btn-primary btn-lg p-2" type="button">
      <i class="bi bi-pencil-fill" style="font-size: 20px"></i>
    </button>
  </div>
  <div class="d-flex justify-content-center p-2">
    <button class="btn btn-secondary bg-my-secondary text-my-color w-100 w-md-50" id="rent_btn">
      <i class="bi bi-cart-plus-fill" style="font-size: 20px"> Pedir</i>
    </button>
  </div>
</div>