<component-contextbar title="Notificar"></component-contextbar>
<div style="margin-top: 120px; margin-bottom: 120px;">
  <div class="container select-users-section">
    <div class="container notify-panel-section">
      <div class="pt-3" id="notifyAlertPlaceholder"></div>
      <div class="card text-center rounded-4 shadow-sm">
        <div class="card-header text-white bg-light-purple rounded-top-4">
          Notificación para <strong>{{ user?.email }}</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="notifyForm" (ngSubmit)="sendNotification()">
            <div class="form-floating mb-3 text-start">
              <input 
                type="text" 
                class="form-control" 
                [class.is-invalid]="titleInvalid" 
                id="title" placeholder="Título de Notificación" 
                formControlName="title">
              <label for="title">Título</label>
              <div class="invalid-feedback">
                {{ displayError('title') }}
              </div>
            </div>
            <div class="form-floating text-start">
              <textarea 
                class="form-control mb-3"
                [class.is-invalid]="bodyInvalid"
                placeholder="Escribe el cuerpo de la notificación" 
                id="body" 
                style="height: 150px"
                formControlName="body"
              ></textarea>
              <div class="invalid-feedback">
                {{ displayError('body') }}
              </div>
              <label for="body">Cuerpo</label>
            </div>
            <div class="form-floating mb-3 text-start">
              <input type="text" class="form-control" [class.is-invalid]="noteInvalid" id="note" placeholder="Nota" formControlName="note">
              <label for="note">Nota</label>
              <div class="invalid-feedback">
                {{ displayError('note') }}
              </div>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" id="category" aria-label="Floating label select example" formControlName="category">
                <option value="info">Información</option>
                <option value="warning">Advertencia</option>
                <option value="danger">Peligro</option>
              </select>
              <label for="category">Categoría</label>
            </div>
            <div class="d-flex justify-content-between">
              <button type="reset" class="btn btn-secondary bg-my-secondary">
                <i class="bi bi-x-circle"></i> Limpiar
              </button>
              <button type="submit" class="btn btn-success me-2" [disabled]="!notifyForm.valid">
                <i class="bi bi-send"></i> Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<component-navbar 
  returnUrl="users" 
  [searchActive]="false" 
  [settingsActive]="false" 
  [returnActive]="true"
>
</component-navbar>
