<thumbnail-bar></thumbnail-bar>
<div>
  <div class="container login-panel-section">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">

        <form class="m-3">
          <div class="my-4 text-my-color">
            <input type="text" class="form-control" id="user_name" placeholder="Nombre">
          </div>
          <div class="mb-4 text-my-color">
            <input type="text" class="form-control" id="user_lastname" placeholder="Apellido">
          </div>
          <div class="mb-4 text-my-color">
            <input type="text" class="form-control" id="user_alias" placeholder="Alias">
          </div>
          <div class="mb-4 text-my-color">
            <input type="number" class="form-control" id="user_phone" placeholder="Teléfono">
          </div>
          <div class="mb-4 text-my-color">
            <input type="email" class="form-control" id="user_mail" placeholder="Correo">
          </div>
          <div class="mb-4 text-my-color">
            <input type="password" class="form-control" id="user_passwd" placeholder="Contraseña">
          </div>
        </form>
        
        <!-- Login button -->
        <div class="d-flex justify-content-center mx-3">
          <button class="btn btn-secondary bg-my-secondary text-my-color w-100 w-md-50" id="login-btn">Registrarse</button>
        </div>
        <div class="text-center mt-3">
          <a href="login" class="text-my-color" style="text-decoration: none;"><strong>Iniciar Sesión</strong></a>
        </div>
      </div>
    </div>
  </div>    
</div>
