<div class="card rent-tile shadow-sm">
  <div class="card-header">
    <h5 class="card-title text-my-secondary pt-2"><strong>Libro: </strong>{{ rent.copy?.title }}</h5>
  </div>
  <div class="card-body">
    @if (rent.user) {
      <p class="card-text mb-2"><strong>Usuario: </strong>{{ rent.user.email }}</p>
    }
    <p class="card-text mb-2"><strong>Copia: </strong>{{ rent.copy?.id }}</p>
    <p class="card-text mb-2"><strong>Estado: </strong> 
      <span class="badge bg-{{ statusColor }} text-bg-{{ statusColor }}">{{ status }}</span>
    </p>
    @if (daysLeft >= 0) {
      <p class="card-text mb-2"><strong>Días restantes: </strong>{{ daysLeft }}</p>
    } @else {
      <p class="card-text mb-2"><strong>Días de atraso: </strong>{{ daysLeft * -1 }}</p>
    }
    <p class="card-text mb-2"><strong>Fecha de inicio: </strong>{{  rent.init_date }}</p>
    @if (manageRents) {
        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-primary btn-sm">Extender</button>
          <button class="btn btn-outline-success btn-sm">Entregado</button>
        </div>
      } @else {
        <button class="btn btn-outline-secondary w-100" (click)="sendRenewalRequest()">
          <i class="bi bi-envelope-arrow-up-fill"></i> Renovar
        </button>
      }
  </div>
  <div class="card-footer text-bg-{{ statusColor }}">
    <p class="card-text text-bg-{{ statusColor }}"><strong>Fecha de entrega: </strong>{{ rent.expiration_date }}</p>
  </div>
</div>