<header>
    <component-contextbar title="Explorar"></component-contextbar>
    <component-search 
      [filters]="[
        {
          text: 'Título', key: 'title'
        },
        {
          text: 'Género', key: 'gender'
        },
        {
          text: 'Autor', key: 'author'
        },
        {
          text: 'Reseñas positivas', key: 'valoration=positive'
        },
        {
          text: 'Reseñas negativas', key: 'valoration=negative'
        }
      ]"
      activeFilter="title"
    >
    </component-search>
</header>
<main class="adjusted-content">
  <!-- Books -->
  <div class="container my-4 bd-gutter">
    <div class="row">
      @for (book of books; track book.id) {
        <div class="col-12 g-3 col-sm-6">
          <component-book
            [id]="book.id"
            title="{{ book.title }}"
            gender="{{ book.gender }}"
            authors="{{ book.authors }}"
            status="{{ book.status }}"
            [comments_quantity]="book.comments_quantity"
            [quantity]="book.quantity"
            [rating]="book.rating"
            image="{{ image(book) }}"
          >
          </component-book>
        </div>
      }
      <div class="d-flex justify-content-center mt-3">
        <component-paginate [page]="page" [pages]="pages" (pageChange)="getBooks($any($event))"></component-paginate>
      </div>
    </div>
  </div>
</main>
@if (isAdmin || isLibrarian) {
  <div class="container fixed-bottom text-end" style="margin-bottom: 120px;" id="add-book">
    <button class="btn btn-secondary shadow" type="button">
      <i class="bi bi-plus-circle-fill" style="font-size: 32px;"></i>
    </button>
  </div>
}
<component-navbar></component-navbar>
