<thumbnail-bar></thumbnail-bar>
<div>
  <div class="container login-panel-section">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">

        <!-- Send code mail -->
        <form class="m-3">
          <div class="mb-3 text-my-color">
            <label for="user_mail" class="form-label">Correo</label>
            <input type="email" class="form-control" id="user_mail">
          </div>
        </form>
        
        <!-- Send code -->
        <div class="d-flex justify-content-center mx-3">
          <button class="btn btn-secondary bg-my-secondary text-my-color w-100 w-md-50" id="send_code_btn">Enviar Código</button>
        </div>

        <!-- Check code -->
        <form class="m-3">
          <div class="mb-3 text-my-color">
            <label for="user_mail" class="form-label">Código de seguridad</label>
            <input type="text" class="form-control" id="restore_code">
          </div>
          <div class="mb-3 text-my-color">
            <label for="new_passwd" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control" id="new_passwd">
          </div>
          <div class="mb-3 text-my-color">
            <label for="repeat_passwd" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control" id="repeat_passwd">
          </div>
        </form>
        
        <!-- Login button -->
        <div class="d-flex justify-content-center mx-3">
          <button class="btn btn-secondary bg-my-secondary text-my-color w-100 w-md-50" id="send_code_btn">Cambiar Contraseña</button>
        </div>
        <div class="text-center mt-3 mb-5">
          <a href="login" class="text-my-color" style="text-decoration: none;"><strong>Iniciar Sesión</strong></a>
        </div>
      </div>
    </div>
  </div>    
</div>