<component-contextbar title="Mis Prestamos"></component-contextbar>
<div style="margin-top: 120px; margin-bottom: 120px;">
  <div class="container rents-section">
    <div class="row">
      <!-- Loan 1 -->
      <component-loan class="col-md-6" title="Título 1" state="Atrasado"></component-loan>
  
      <!-- Loan 2 -->
      <component-loan class="col-md-6" title="Título 2" state="A tiempo"></component-loan>
  
      <!-- Loan 3 -->
      <component-loan class="col-md-6" title="Título 2" state="A tiempo"></component-loan>
  
    <!-- Pagination -->
    <component-paginate></component-paginate>
  </div>
</div>
<component-navbar link="settings" [searchActive]="false" [settingsActive]="false" [returnActive]="true"></component-navbar>