<component-contextbar title="Mis Préstamos"></component-contextbar>

<div style="margin-top: 120px; margin-bottom: 120px;">
  <div class="container rents-section">
    <div id="liveAlertPlaceholder"></div>
    <div class="row gy-4">
      @for (rent of rents; track rent.id) {
        <app-rent class="col-md-6"
          [rent]="rent"
          (renewClicked)="onRenewClicked($event)"
        ></app-rent>
      }
    </div>
  </div>
</div>

<component-navbar link="settings" [searchActive]="false" [settingsActive]="false" [returnActive]="true"></component-navbar>
