/* Custom variables */
:root {
  --custom-background-color: var(--bs-gray-300);
  --text-color: #222222;
  --custom-primary-color: var(--bs-light);
  --custom-secondary-color: var(--bs-secondary);
}

[data-theme="light"] {
  --custom-background-color: var(--bs-gray-300);
  --text-color: #222222;
  --custom-primary-color: var(--bs-light);
  --custom-secondary-color: var(--bs-secondary);
}

[data-theme="dark"] {
  --custom-background-color: #222222;
  --text-color: var(--bs-gray-300);
  --custom-primary-color: var(--bs-dark);
  --custom-secondary-color: var(--bs-dark-gray);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--custom-background-color);
}

.bg-my-primary {
  background-color: var(--custom-background-color);
}
.bg-my-secondary {
  background-color: var(--custom-secondary-color);
  text-decoration: none;
  color: var(--custom-primary-color);
}
.bg-book {
  background-color: var(--custom-primary-color);
}
@media only screen and (min-width: 500px) {
  .top-rounded-div {
    border-top-left-radius: 33px; 
    border-top-right-radius: 33px; 
  }
}
.btn-my-primary {
  color: var(--custom-primary-color);
  text-decoration: none;
}
.bottom-rounded-div {
  border-bottom-left-radius: 33px; 
  border-bottom-right-radius: 33px; 
}
.book-rounded-corner {
  border-radius: 19px;
}
.adjusted-content {
  margin-top: 120px;
  margin-bottom: 180px;
}
.shortened-title {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 396px;
}