<component-contextbar title="{{ title }}"></component-contextbar>
<!-- Make stars of the book based on rating and the main view of the comments (with the pagination and icon of the user) -->
<div class="container adjusted-content">
  <h2><strong>Vista General</strong></h2>
  <div class="row justify-content-md-center rounded-4 bg-book pt-3">
    <div class="col-md-2 text-center">
      <img src="{{ image }}" class="mb-3 mx-3 img-thumbnail" alt="media/default-book-cover.jpg">
      <div class="mb-3">
        <h6>{{ gender }}</h6>
        <stars [rating]="rating"></stars>
      </div>
    </div>
    <div class="col px-4 mb-3">
      <h4>{{ title }}</h4>
      <h5><i>{{ author }}</i></h5>
      <p class="lead px-2" style="text-align: justify;">{{ description || 'jajajaj' }}</p>
      <p class=""><i>Cantidad: </i>{{ quantity }}</p>
    </div>
  </div>
  <div class="row">
    <h2 class="col my-3"><strong>Comentarios</strong></h2>
    <i class="col bi bi-chat text-end my-3 mx-4" style="font-size: 24px"> Comentar</i>
  </div>
  <div class="row justify-content-md-center rounded-4 bg-book pt-3">
    <div class="col px-4 mb-3">
      <!-- Must iterate throw the all comments -->
      @for (comment of comments; track comment['user-id']) {
        <comment [user_id]="comment['user-id']" [rating]="comment.rate" [body]="comment.body"></comment>
      }
    </div>
  </div>
</div>
<component-navbar returnUrl="home" [searchActive]="false" [settingsActive]="false" [returnActive]="true"></component-navbar>
