<component-contextbar title="{{ title }}"></component-contextbar>
<!-- Make stars of the book based on rating and the main view of the comments (with the pagination and icon of the user) -->
<div class="container adjusted-content">
  <h2><strong>Vista General</strong></h2>
  <div class="row justify-content-md-center rounded-4 bg-book pt-3">
    <div class="col-md-2 text-center">
      <img src="{{ image }}" class="mb-3 mx-3 img-thumbnail" alt="media/default-book-cover.jpg">
      <div class="mb-3">
        <h6>{{ gender }}</h6>
        <stars [rating]="rating"></stars>
      </div>
    </div>
    <div class="col px-4 mb-3">
      <h4>{{ title }}</h4>
      <h5><i>{{ author }}</i></h5>
      <p class="lead px-2" style="text-align: justify;">{{ description || 'jajajaj' }}</p>
      <p class=""><i>Cantidad: </i>{{ quantity }}</p>
    </div>
  </div>
  <div class="row">
    <h3 class="col my-3"><strong>Comentarios</strong></h3>
    <div class="col text-end my-3 mx-4">
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#commentInput">
        <i class="bi bi-chat" style="font-size: 18px" > Comentar</i>
      </button>
    </div>
  </div>
  <div class="collapse" id="commentInput">
    <div class="card card-body mb-3 rounded-4">
      <div class="input-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ comment_rate }}</button>
        <ul class="stars-selector dropdown-menu">
          <li><button (click)="setRate(1)" class="dropdown-item">1 estrella</button></li>
          <li><button (click)="setRate(2)" class="dropdown-item">2 estrellas</button></li>
          <li><button (click)="setRate(3)" class="dropdown-item">3 estrellas</button></li>
          <li><button (click)="setRate(4)" class="dropdown-item">4 estrellas</button></li>
          <li><button (click)="setRate(5)" class="dropdown-item">5 estrellas</button></li>
        </ul>
        <textarea [(ngModel)]="comment_body" class="form-control" aria-label="With textarea" placeholder="Escribe un comentario..."></textarea>
        <button (click)="postComment()" class="btn btn-outline-secondary"><i class="bi bi-send-fill"></i></button>
      </div>
    </div>

  </div>
  <div class="row justify-content-md-center rounded-4 bg-book pt-3">
    <div class="col px-4 mb-3">
      <!-- Must iterate throw the all comments -->
      @for (comment of comments; track comment['id']) {
        <comment [user_id]="comment['user']['id']" [rating]="comment.rate" [body]="comment.body"></comment>
      } @empty {
        <p class="mt-3">No hay comentarios</p>
      }
    </div>
  </div>
</div>
<component-navbar returnUrl="home" [searchActive]="false" [settingsActive]="false" [returnActive]="true"></component-navbar>
