<component-contextbar title="Gestionar Prestamos"></component-contextbar>

<div style="margin-top: 120px; margin-bottom: 120px;">


  <!-- Pantalla de Gestión de Préstamos -->
  <div class="container my-5">
    <div class="pt-3" id="rentAlertPlaceholder"></div>
    <div class="card mb-4 rounded-3 shadow-sm">
      <h4 class="card-header bg-light-purple text-white rounded-top-3">Filtros</h4>
      <div class="card-body">
        <form class="row g-3" [formGroup]="filterQueryForm" (ngSubmit)="getfilteredRents()">
          <div class="col-md-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" formControlName="rent_id">
              <label for="floatingInput">Identificador de Prestamo</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Apellido" formControlName="user_mail">
              <label for="floatingInput">Correo de Usuario</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Correo" formControlName="book_copy_id">
              <label for="floatingInput">Identificador de Copia</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating">
              <input type="date" class="form-control" id="floatingInput" placeholder="Correo" formControlName="expiration_date">
              <label for="floatingInput">Fecha de expiración</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-outline-secondary" (click)="getRents(1,[])">
              <i class="bi bi-x-circle"></i> Limpiar
            </button>
            <app-new-rent
              (rentCreated)="rentCreated()"
              (errorRentCreated)="errorRentCreated()" 
            ></app-new-rent>
            <button type="submit" class="btn btn-outline-primary me-2">
              <i class="bi bi-search"></i> Buscar
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row gy-4">
      @for (rent of rents; track rent.id) {
        <app-rent class="col-md-6"
          [manageRents]="true"
          [rent]="rent"
        ></app-rent>
      }
    </div>

    <div class="d-flex justify-content-center mt-3">
      <component-paginate [page]="page" [pages]="pages" (pageChange)="getRents($any($event), [])"></component-paginate>
    </div>
  </div>
</div>
<component-navbar [searchActive]="false" [settingsActive]="false" [returnActive]="true"></component-navbar>