<div class="card rent-tile shadow-sm">
  <div class="card-header">
    <h5 class="card-title text-my-secondary pt-2"><strong>Usuario: </strong>{{ user?.mail }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text mb-2"><strong>Nombre: </strong>{{ user?.name }} {{ user?.lastname }}</p>
    <p class="card-text mb-2"><strong>Legajo: </strong>{{ user?.id }}</p>
    <p class="card-text mb-2"><strong>Teléfono: </strong>{{ user?.phone }}</p>
    <p class="card-text mb-2"><strong>Rol: </strong> 
      <span class="badge bg-{{ roleColor }} text-bg-{{ roleColor }}">{{ role }}</span>
    </p>
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-primary btn-sm">
        <i class="bi bi-envelope-arrow-up-fill"></i> Notificar
      </button>
      <button class="btn btn-outline-danger btn-sm">
        <i class="bi bi-person-fill-check"></i>
        Modificar Rol
      </button>
    </div>
  </div>
  
  @if (user?.role == 'user') {
    <div class="card-footer text-bg-{{ stateColor }}">
      <p class="card-text text-bg-{{ stateColor }}"><i class="bi bi-building-fill"></i><strong> Estado: </strong>{{ state }}</p>
    </div>
  } @else if (user?.role == 'pending') {
    <div class="card-footer border-warning">
      <p class="card-text text-bg-"><i class="bi bi-building-fill-exclamation"></i><strong> Suspendido </strong></p>
    </div>
  } @else {
    <div class="card-footer  border-success">
      <p class="card-text"><i class="bi bi-building-fill-gear"></i><strong> Empleado </strong></p>
    </div>
  }
</div>