<div class="card rent-tile shadow-sm">
  <div class="card-header">
    <h5 class="card-title text-my-secondary pt-2"><strong>Usuario: </strong>{{ user?.mail }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text mb-2"><strong>Nombre: </strong>{{ user?.name }} {{ user?.lastname }}</p>
    <p class="card-text mb-2"><strong>Legajo: </strong>{{ user?.id }}</p>
    <p class="card-text mb-2"><strong>Teléfono: </strong>{{ user?.phone }}</p>
    <p class="card-text mb-2"><strong>Rol: </strong> 
      <span class="badge bg-{{ roleColor }} text-bg-{{ roleColor }}">{{ role }}</span>
    </p>
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-primary btn-sm">
        <i class="bi bi-envelope-arrow-up-fill"></i> Notificar
      </button>
      <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#editRole-{{ user?.id }}">
        <i class="bi bi-person-fill-check"></i>
        Modificar Rol
      </button>
    </div>
  </div>
  
  @if (user?.role == 'user') {
    <div class="card-footer text-bg-{{ stateColor }}">
      <p class="card-text text-bg-{{ stateColor }}"><i class="bi bi-building-fill"></i><strong> Estado: </strong>{{ state }}</p>
    </div>
  } @else if (user?.role == 'pending') {
    <div class="card-footer border-warning">
      <p class="card-text text-bg-"><i class="bi bi-building-fill-exclamation"></i><strong> Suspendido </strong></p>
    </div>
  } @else {
    <div class="card-footer  border-success">
      <p class="card-text"><i class="bi bi-building-fill-gear"></i><strong> Empleado </strong></p>
    </div>
  }
</div>

<!-- Modal -->
<div class="modal fade" id="editRole{{ user?.id }}" tabindex="-1" aria-labelledby="editRoleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light-purple" data-bs-theme="dark">
        <h1 class="modal-title fs-5 text-white bg-light-purple" id="editRoleLabel">Editar Rol</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <select class="form-select" id="roleSelect" aria-label="Seleccionar el nuevo rol" [formControl]="rolSelectForm">
            <option value="pending">Pending</option>
            <option value="user">User</option>
            @if (isAdmin) {
              <option value="librarian">Bibliotecario</option>
              <option value="admin">Admin</option>
            }
          </select>
          <label for="roleSelect">Seleccionar el nuevo rol</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="saveRole()" data-bs-dismiss="modal">
          <i class="bi bi-floppy-fill"></i> Save changes
        </button>
      </div>
    </div>
  </div>
</div>