<div class="card book-card bg-my-secondary text-my-color book-rounded-corner mb-4">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">Fecha de devolución: {{ initdate | date: 'dd/MM/yyyy' }}</p>
    <p class="card-text">Fecha de entrega: {{ expirationdate | date: 'dd/MM/yyyy' }}</p>
    @if (state == "Atrasado") {
      <p class="card-text">Estado: <span class="text-warning">{{ state }}</span></p>
    } @else {
      <p class="card-text">Estado: <span class="text-good">{{ state }}</span></p>
    }
    <div class="d-flex justify-content-between">
      <button class="btn btn-my-outline">Devolver</button>
      <button class="btn btn-my-outline">Extender Prestamo</button>
    </div>
  </div>
</div>