<!-- Search Bar -->
<div class="collapse container-sm fixed-top" id="navbarToggleExternalContent" style="padding: 0; z-index: 1050;">
  <div class="container-sm p-4 bg-my-secondary bottom-rounded-div shadow-lg">
    <div class="input-group mb-3">
      <input [(ngModel)]="pattern" (input)="search()" type="text" class="form-control" placeholder="Criterio de búsqueda" aria-label="Buscar">
    </div>
    <div class="container my-3">
      <p>Filtrar por:</p>
      <div class="row g-2">
        <div class="col g-2">
          <button type="button" 
                  class="btn btn-secondary m-1" 
                  [ngClass]="{'active': activeFilter === 'title'}" 
                  (click)="setActiveFilter('title')">
            Título
          </button>
          <button type="button" 
                  class="btn btn-secondary m-1" 
                  [ngClass]="{'active': activeFilter === 'gender'}" 
                  (click)="setActiveFilter('gender')">
            Género
          </button>
          <button type="button" 
                  class="btn btn-secondary m-1" 
                  [ngClass]="{'active': activeFilter === 'author'}" 
                  (click)="setActiveFilter('author')">
            Autor
          </button>
          <button type="button" 
                  class="btn btn-secondary m-1" 
                  [ngClass]="{'active': activeFilter === 'valoration=positive'}" 
                  (click)="setActiveFilter('valoration=positive')">
            Reseñas positivas
          </button>
          <button type="button" 
                  class="btn btn-secondary m-1" 
                  [ngClass]="{'active': activeFilter === 'valoration=negative'}" 
                  (click)="setActiveFilter('valoration=negative')">
            Reseñas negativas
          </button>
        </div>
      </div>
      <button class="btn btn-light mt-2" type="button" (click)="clean()">Limpiar Busqueda</button>
    </div>
  </div>
</div>
